$container-width: 1200px;

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body.modal-open {
  overflow: hidden;
}
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-body {
  background-color: $third-color;
  color: $primary-text-color;

  font-family: $main-font;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and(min-width: $tablet) {
    width: 768px;
  }
  @media screen and (min-width: $desktop) {
    width: $container-width;
  }
}
.section {
  @media screen and(max-width:1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
