$item-width: calc((100% - 150px) / 6);

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }

  .item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
    @media screen and (min-width: $tablet) {
      width: calc((100% - 90px) / 3);
    }
    @media screen and (min-width: $desktop) {
      width: $item-width;
    }
  }
}
.customer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid $svg-color;
  border-radius: 4px;
  fill: $svg-color;

  transition: fill $transition, border-color $transition;

  &:focus,
  &:hover {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
