$portfolio-btn-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;
  & .item {
    margin: 4px;
  }
  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}
.button {
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

  color: $primary-text-color;
  background-color: $secondary-background-color;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  outline: none;

  transition: background-color $transition, color $transition,
    box-shadow $transition;
  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $third-color;
    box-shadow: $portfolio-btn-box-shadow;
  }
}
