$item-width: calc((100% - 90px) / 4);
$item-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

.team-list {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  .item {
    width: $item-width;
    margin-right: 30px;
    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
      padding-bottom: 24px;

      background-color: $third-color;
      box-shadow: $item-box-shadow;
    }
  }
}
.teammate {
  margin-bottom: 0;
  margin-top: 30px;
  text-align: center;

  color: $primary-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.major {
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;

  color: $secondary-text-color;

  font-size: 16px;
  line-height: 1.19;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  .item-link + .item-link {
    margin-left: 10px;
  }
  .social-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $svg-color;

    transition: background-color $transition, fill $transition;

    &:focus,
    &:hover {
      background-color: $accent-color;

      fill: $third-color;
    }
  }
  .item-icon {
    width: 20px;
    height: 20px;
  }
}
